.vscode/* 
easyenglish/__pycache__
easyenglish/config/__pycache__
easyenglish/ee/__pycache__
easyenglish/ee_api/__pycache__
easyenglish/users/__pycache__
easyenglish/ee_api/__pycache__
easyenglish/venv
easyenglish/media/*.mp3
.env
