/*
 * Footer
 */
 .blog-footer {
    padding: 2.5rem 0;
    color: #727272;
    text-align: center;
    background-color: #212529;
    border-top: .05rem solid #e5e5e5;
  }
  .blog-footer p:last-child {
    margin-bottom: 0;
  }
  .card-text {
    text-align: justify;
  }

  audio {
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
    width: 200px;
    height: 25px;
 }
 a audio {
  margin-left: auto;
 }